/* GLOBAL STYLES
------------------------------------*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: #000;
	margin: 0 auto;
	padding: 0;
	font-family: Georgia, Calibri, Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 1.5;
	background-color: #FFF;
}

h1 { /* used on green lip mussel image*/
	font-size: 50px;
	line-height: 1;
}

h2 { /*used on green sections - section headings*/
	font-size: 25px;
	line-height: 1;
	text-align: center;
}

h3 { /*used on green sections - section headings*/
	font-size: 18px;
	line-height: 1;
	text-align: center;
}

h4 { /* used on green lip mussel image*/
	font-size: 200px;
	line-height: 1;
}

/*HEADER*/
.header {
	background-image: url('images/Header.jpg');
	background-position: center;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px solid white;
}

/*FOOTER*/
.footer {
	background-image: url('images/Footer.jpg');
	background-position: center;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px solid white;
}

/*STICKY NAVBAR*/
.topnav {
  background-color: #333;
  overflow: hidden;
  position: sticky; /* Make it stick/fixed */
   width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
.topnav a {
  float: left;
  display: block;
  color: #e86e24;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #e86e24;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

@media screen and (max-width: 532px) {
	.topnav a { /*UNBLOCK FOR STICKY NAVBAR*/
		float: left;
		display: block;
		color: #e86e24;
		text-align: center;
		padding: 6px 8px;
		text-decoration: none;
		font-size: 12px;
}}


/*About*/
.news_flex {
	clear:both;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.news_flex2 {
	clear:both;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.news_flex .image {
	display: flex;
	flex: 50%;
}

.news_flex img {
	background-size: contain;
	object-fit: contain;
	display: flex;
	flex: 50%;
	width: 100%;
}

.news_flex .image img {
	background-size: contain;
	object-fit: contain;
}

.news_flex .video {
  display: flex;
  justify-content: center; /* centers iframe inside this div */
  align-items: center;
  flex: 0 1 600px;          /* sets a max width and allows responsiveness */
  padding: 20px;
}

.news_flex .video iframe {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border: none;
}


.news_flex .text {
	flex: 50%;
	padding: 20px;
	text-align: justify;
	background: rgba(246, 142, 70, 1);
}


.plain_flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;     /* aligns image and text centers */
}

.plain_flex .image {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain_flex .image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.plain_flex .text {
  flex: 1 1 80%;
  padding: 20px;
  background: rgba(255, 255, 255, 1);

  /* stack heading over paragraph and center the stack vertically */
  display: flex;
  flex-direction: column;  /* <- keeps H2 above P */
  justify-content: center; /* <- vertical centering of the stack */
  align-items: flex-start; /* <- left-align the block inside */
  text-align: justify;     /* paragraph justification stays */
}

.plain_flex .text h2 { 
  margin: 0 0 .5rem; 
  line-height: 1.2;
}

.plain_flex .text p { 
  margin: 0; 
}



.howto_flex {
	clear:both;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.howto_flex .image {
	display: flex;
	flex: 20%;
}

.howto_flex .image img {
	background-size: contain;
	object-fit: contain;
}

.howto_flex .text {
	flex: 80%;
	padding: 20px;
	text-align: justify;
	background: rgba(246, 142, 70, 1)
}





.image-with-text {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.image-with-text img {
  width: 100%;
  height: auto;
  display: block;
}


/*Responsiveness*/
@media screen and (max-width: 785px) {
	
.news_flex .image { /*for CONTENT SECTION 1 NOURISH YOUR BODY INDEX*/
		display: flex;
		flex: 80%;
	}

	.news_flex .text { /*for CONTENT SECTION 1 NOURISH YOUR BODY INDEX*/
		flex: 80%;
		padding: 20px;
		text-align: justify;
	}

	.footer_flex .image {
		display: flex;
		flex: 80%;
	}

	.footer_flex .newsletter_grey {
		flex:80%;
		align-items: center;
		justify-content: center;
		max-width: 800px;
		padding: 10px;
		transform: translateX(0%);
	}

	.footer_flex .icons{
		display: flex;
		flex:80%;
		align-items: center;
	  justify-content: center;
	}
}

@media screen and (max-width:745px) {
	h1 { /*GLOBAL*/
		font-size: 30px;
		line-height: 0.9;
	}

	.section_caption h2 { /*GLOBAL*/
		font-size: 120%
	}

	.newsletter_grey h2 { /*INDEX*/
		font-size: 90%;
		padding: 20px 0px;
		text-align: center;
		max-height: 200px;
		background-color: rgba(255, 255, 255, 0.9);
	}
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #e86e24;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: #e86e24;}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*DNADRV news page  -this is a really bad fix*/
@media only screen and (max-width: 382px) {
  .news_flex2 {
	clear:both;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
}
}


/*logo*/
.logo_flex {
	clear:both;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.logo_flex .image {
	display: flex;
	flex: 20%;
	align-items: centre;
	justify-content: center;

}

.logo_flex .image img {
	background-size: contain;
	object-fit: contain;
	max-height: 100px;
	padding: 2px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .logo_flex {
    flex-direction: column;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-family: Georgia, Calibri, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: normal bold;
  transition: 0.4s;
}

.active2, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active2:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 18px;
}

iframe.myframe {
    background: #fff;
}